.CityWeatherBox {
  display: grid;
  grid-template-columns: 1fr 40px;
  width: 380px;
  height: 180px;
  font-family: "Roboto";
  color: white;
  border-radius: 5px;
}

.CityWeatherBox .weatherData {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.CityWeatherBox .weatherText {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.CityWeatherBox .weatherData h2 {
  font-size: 63px;
  margin: 0;
}
.CityWeatherBox .weatherData h2::after {
  content: "\00b0";
}
.CityWeatherBox .weatherData h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0;
}
.CityWeatherBox button {
  border: none;
  margin-top: 10px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  background-image: url(../images/CloseButton.svg);
  background-color: white;
}
.CityWeatherBox.cold {
  background-color: #2d9bf0;
}
.CityWeatherBox.temperate {
  background-color: #fac710;
}
.CityWeatherBox.hot {
  background-color: #f24726;
}
@media only screen and (max-width: 1199px) {
  .CityWeatherBox {
    width: 335px;
    height: 120px;
  }
  .CityWeatherBox .weatherData h2 {
    font-size: 46px;
  }
  .CityWeatherBox .weatherData h3 {
    font-size: 15px;
  }
}
