.SearchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1200px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 15px;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 1199px) {
  .SearchResults {
    grid-template-columns: 1fr;
    max-width: 1040px;
  }
}
@media only screen and (max-width: 1035px) {
  .SearchResults {
    grid-template-columns: 1fr;
    max-width: 685px;
  }
}
@media only screen and (max-width: 685px) {
  .SearchResults {
    grid-template-columns: 1fr;
    max-width: 335px;
  }
}
