.SearchField .inputContainer {
  display: grid;
  width: 598px;
  height: 71px;
  border-radius: 5px;
  background-color: white;
  grid-template-columns: 80px 1fr 80px;
}

.SearchField label {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  font-family: RobotoBold;
}
.SearchField input {
  font-size: 20px;
  flex-grow: 1;
  border: none;
  margin: 20px 0;
}
.SearchField button {
  margin: 5px;
  border: none;
  width: 20px;
  height: 20px;
  background-image: url(../images/Union.svg);
  background-color: white;
}
.SearchField input:focus-visible {
  outline-style: hidden;
}
@media only screen and (max-width: 1199px) {
  .SearchField .inputContainer {
    width: 335px;
  }
}
.SearchField .buttonContainer {
  display: flex;
  align-items: center;
}
