.App {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 100px;
  width: 100%;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 1199px) {
  .mainContainer {
    justify-content: flex-start;
  }
}
h1 {
  align-self: center;
  font-family: RobotoBold;
  font-size: 32px;
}
.logo {
  width: 131px;
  height: 41px;
  filter: brightness(0) saturate(100%);
}
