.SearchField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SearchField .inputContainer{
    width: 598px;
    height: 20px;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: white;
}
.SearchField input {
    font-size: 20px;
    width:400px;
    border:none;
    margin: 0 5px 0;
   
}
.SearchField button {
    border:none;
    width: 20px;
    height:20px;
    background-image: url(../Union.svg);
    background-color: white;
}
.SearchField input:focus-visible {
    outline-style: hidden;
}
.SearchField label {
    font-size: 20px;
    font-family: RobotoBold;    
    width: 100%;
    display: inline-block;
}
