.SearchField {
}
.SearchField .inputContainer {
  display: flex;
  width: 598px;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: white;
}
.SearchField label {
  flex-grow: 1;
  font-size: 20px;
  font-family: RobotoBold;
}
.SearchField input {
  font-size: 20px;
  flex-grow: 1;
  border: none;
  width: 86%;
  margin: 0 2%;
}
.SearchField button {
  border: none;
  width: 20px;
  height: 20px;
  background-image: url(../images/Union.svg);
  background-color: white;
}
.SearchField input:focus-visible {
  outline-style: hidden;
}
