.WeatherIcon {
  height: 80px;
  width: 80px;
  background-size: 80px;
}
.WeatherIcon.cloud-day {
  background-image: url(./weather_icons.svg#cloud-day);
}
.WeatherIcon.sun {
  background-image: url(./weather_icons.svg#sun);
}
.WeatherIcon.storm {
  background-image: url(./weather_icons.svg#storm);
}
.WeatherIcon.hale {
  background-image: url(./weather_icons.svg#hale);
}
.WeatherIcon.snow {
  background-image: url(./weather_icons.svg#snow);
}
.WeatherIcon.cloud-mixed {
  background-image: url(./weather_icons.svg#cloud-mixed);
}
.WeatherIcon.rain {
  background-image: url(./weather_icons.svg#rain);
}
.WeatherIcon.cloud-snow {
  background-image: url(./weather_icons.svg#cloud-snow);
}
.WeatherIcon.cloud-rain {
  background-image: url(./weather_icons.svg#cloud-rain);
}
.WeatherIcon.fog {
  background-image: url(./weather_icons.svg#fog);
}
.WeatherIcon.lightning {
  background-image: url(./weather_icons.svg#lightning);
}
